<div class="d-flex justify-content-end">
  <a href="#" class="btn btn-outline-dark">
    Manage Logs <i class="bi bi-gear"></i>
  </a>
</div>
<table class="table table-hover table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Weight Kg</th>
      <th scope="col">BMI</th>
    </tr>
  </thead>
  <tbody *ngIf="user.record.weightLogs.length">
    <tr (click)="onRowClick(log)" *ngFor="let log of user.record.weightLogs">
      <td>{{ log.date.getDate() }}/{{ log.date.getMonth() }}/{{log.date.getFullYear()}}</td>
      <td>{{ log.weight }}</td>
      <td>{{ log.bmi.bmi }}</td>
    </tr>
  </tbody>
</table>
<app-pagination></app-pagination>
