td, th{
  text-align: center;
}

td{
  cursor: pointer;
}


.bi-emoji-smile,
.bi-arrow-up{
  color: rgb(0, 255, 0);
  font-size: 1.3rem;
  font-weight: 900;
}

.bi-emoji-neutral{
  color: rgb(175, 175, 175);
  font-size: 1.3rem;
  font-weight: 900;
}

.bi-emoji-frown,
.bi-arrow-down{
  color: red;
  font-size: 1.3rem;
  font-weight: 900;
}