<div class="box-small">
  <div class="boxContent">
    <!-- Calendar component -->
    <div class="calendar" *ngIf="calendar">
      <calendar
      [date]="date"
    ></calendar>
    </div>

    <!-- Title & weight -->
    <span class="title roboto-bold fs-5">{{title}}</span>
    <span class="weight roboto-light">{{ weight }} {{units}}</span>
   
    <!-- BMI component -->
    <span class="roboto-bold" *ngIf="bmiComponent">
      <app-bmi [height]="user.height" [weight]="weight"> </app-bmi>
    </span>
  </div>
</div>