<div class="box-small">
  <div class="boxContent">
    <!-- Calendar component -->
    <div class="calendar" *ngIf="calendar">
      <calendar [date]="date"></calendar>
    </div>

    <!-- Title & weight -->
    <span class="title roboto-bold fs-5">{{ title }}</span>
    <!-- Progress Bar -->
    <div class="p-2" *ngIf="progress">
      <div class="progress">
        <div
          [ngClass]="!elapsedWeekAsPercent ? 'bg-success' : 'bg-secondary'"
          class="progress-bar"
          role="progressbar"
          [style.width.%]="progress"
          aria-valuenow="progress"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ progress }}%
        </div>
      </div>
    </div>
    <!-- End Progress Bar -->
    <span class="weight roboto-light"> {{ weight }}{{ units }}</span>
    <!-- BMI component -->
    <span class="roboto-bold" *ngIf="bmiComponent">
      <app-bmi [height]="user.height" [weight]="weight"> </app-bmi>
    </span>
  </div>
</div>
