.box-small {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 220px;
  height: 175px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.boxContent span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-left: 10px;
}

.boxContent{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;
}


.boxContent :nth-child(2){
  font-size: 1.79rem;
}

.boxContent :nth-child(3){
  color: red;
  font-size: .85rem;
  margin-bottom: 8px;
}
