.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  padding-bottom: 5%;
}

.btn .left,
.right {
  width: 50%;
}

.left {
  display: flex;
  justify-content: center;
}

.inner-left {
  width: 65%;
}

.inner-right {
}

.right form {
  padding: 30px 25px;
  width: 60%;
}

.right input {
  height: 3.5rem;
}

hr {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .login-container {
    flex-direction: column;
    height: 100vh;
  }

  .right {
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right form {
    width: 70%;
  }

  .inner-left {
    width: 70%;
  }

  .left {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}
