<!-- Dashboard -->
<div class="d-flex flex-wrap justify-content-center align-items-center row-gap-1 column-gap-4">
  <h1></h1>
  <!-- Start item -->
  <dated-item></dated-item>
  <!-- Current item -->
  <unDated-item></unDated-item>
  <!-- Target item -->
  <dated-item></dated-item>
  <!-- Change item -->
  <unDated-item></unDated-item>
  <!-- Predicted item -->
  <dated-item></dated-item>
  <!-- Progress item -->
  <small-item></small-item>
  <!-- Time item -->
  <small-item></small-item>
  <!-- Trend item -->
  <trend-item></trend-item>
</div>
 