<!-- Dashboard -->
<div
  class="d-flex flex-wrap justify-content-center align-items-center row-gap-1 column-gap-4 mt-3"
>
  <!-- Start item -->
  <dash-item
    [title]="'Start'"
    [weight]="user.start.weight"
    [height]="user.height"
    [date]="user.start.date"
  ></dash-item>
  <!-- Current item -->
  <dash-item
    [title]="'Current'"
    [weight]="user.current.weight"
    [height]="user.height"
    [date]="user.current.date"
  ></dash-item>
  <!-- Target item -->
  <dash-item
    [title]="'Target'"
    [weight]="user.target.weight"
    [height]="user.height"
    [date]="user.target.date"
  ></dash-item>
  <!-- Change item   ------FIX BMI issue------     -->
  <change-item
    [title]="'Change'"
    [weight]="user.userStats.change.weightChange"
    [height]="user.height"
    [calendar]="false"
  ></change-item>
  <!-- Predicted item -->
  <dash-item
    [title]="'Predicted'"
    [weight]="user.userStats.predicted.weight"
    [height]="user.height"
    [date]="user.userStats.target.date"
  ></dash-item>
  <!-- Progress item    ------FIX %UNIT issue------     -->
     <progress-item
    [title]="'Progress'"
    [progress]="user.userStats.pctProgress"
  ></progress-item>
  
  <!-- Time item    ------FIX %UNIT issue------     -->
     <dash-item
    [title]="'Time'"
    [weight]="user.userStats.pctTime"
    [height]="user.height"
    [calendar]="false"
    [bmiComponent]="false"
    [units]="'%'"

  ></dash-item>
  <!-- Trend item -->
  <trend-item></trend-item>
</div>
