<label class="fs-5 fw-bold mb-2">Log weight</label>
<div class="input-container d-flex gap-3 border">
  <div class="input-group input-group-lg">
    <input
    #weightInput
    type="number"
    name="weightInput"
    id="weightInput"
    class="form-control"
    aria-label="Text input with dropdown button"
    placeholder="killograms"
    
    />
</div>
<input #weightDate id="startDate" class="date form-control" type="date" />
<button (click)="onLogWeight()" class="btn btn-outline-dark">
  Log
</button>
</div>
