<label class="fs-5 fw-bold mb-2">Log weight</label>
<div class="input-container d-flex gap-3 border">
  <input id="startDate" class="date form-control" type="date" />
  <div class="input-group">
    <input
      type="number"
      name="weightInput"
      id="weightInput"
      class="form-control form-control-lg"
      aria-label="Text input with dropdown button"
      placeholder="weight"

    />
    <button
      class="btn btn-outline-dark dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Units
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Kg</a></li>
      <li><a class="dropdown-item" href="#">St</a></li>
      <li><a class="dropdown-item" href="#">Lb</a></li>
    </ul>
  </div>
  <button class="btn btn-outline-dark">
    Add
  </button>
</div>
