<div class="app-container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div class="main-container">
    <div class="header">
      <h1 class="title">
        {{ onTargetMessage }}
        <i
          [ngClass]="{
          bi: true,
          'bi-emoji-smile-fill': onTarget,
          'bi-emoji-frown-fill': !onTarget
        }"
        ></i>
      </h1>
      <span>17-Sept-2024 <i class="ms-1 bi bi-calendar3"></i></span>
    </div>
    <main class="center-y mt-4">
      <!-- Input -->
      <section class="section">
        <data-input [user]="user"></data-input>
      </section>
      <!-- Dashboard -->
      <section class="section">
        <app-dashboard [user]="user"></app-dashboard>
      </section>
      <!-- Table -->
      <section class="section">
        <data-table [user]="user"></data-table>
      </section>
    </main>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
