
.app-container{
  background-color: var(--grey-bg);
  padding-bottom: 50px;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1750px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 5px;
  position: relative;
  width: 1
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--red);
  font-size: 48px;
  font-weight: 700;
}

.header span {
  color: #000;
  font-weight: bold;
  border: 1px solid var(--light-grey);
  background-color: #fff;
  border-radius: 3px;
  padding: 4px 8px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  width: 70%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


/* .section:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
