<div class="app-container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div class="main-container">
    <div class="header">
      <h1
        [ngClass]="
          user.userStats.target.isOnTarget ? 'text-success' : 'text-danger'
        "
      >
        {{ user.userStats.target.message }}
        <i
          [ngClass]="{
            bi: true,
            'bi-emoji-smile-fill': user.userStats.target.isOnTarget,
            'bi-emoji-frown-fill': !user.userStats.target.isOnTarget
          }"
        ></i>
      </h1>
      <span>{{ currentDate }}<i class="ms-1 bi bi-calendar3"></i></span>
    </div>
    <main class="center-y mt-4">
      <!-- Input -->
      <section class="section">
        <data-input
          (onWeightInput)="dashboardComponent.reBuildDashboard()"
        ></data-input>
      </section>
      <!-- Dashboard -->
      <section class="section">
        <app-dashboard></app-dashboard>
      </section>
      <!-- Table -->
      <section class="section">
        <data-table
          (tableClickEvent)="onTableClick($event)"
          data-bs-toggle="modal"
          href="#exampleModalToggle"
        ></data-table>
      </section>
    </main>
  </div>

  <!-- Edit Weight Modal -->
  <div
    #editModal
    class="modal"
    id="exampleModalToggle"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User Details:</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {{ selectedWeightLog.date.getDate() }}/{{
            selectedWeightLog.date.getMonth()
          }}/{{ selectedWeightLog.date.getFullYear() }}
          <br />
          {{ selectedWeightLog.weight }}
          <br />
          {{ selectedWeightLog.bmi.bmi }}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
