<div class="app-container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div class="center-y">
    <div class="header">
      <h1 class="title">Off Target! <i class="bi bi-emoji-frown-fill"></i></h1>
      <span>17-Sept-2024 <i class="bi bi-calendar3"></i></span>
    </div>
    <main class="center-y mt-4">
      <!-- Input -->
      <section class="section">
        <data-input></data-input>
      </section>
      <!-- Dashboard -->
      <section class="section">
        <app-dashboard></app-dashboard>
      </section>
      <!-- Table -->
      <section class="section">
        <data-table></data-table>
      </section>
    </main>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
