.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 70%;
  margin: 20px 0 5px;
  color: var(--primary);
  font-size: 48px;
  font-weight: 700;
}

.section {
  border: 1px #333 solid;
  width: 70%;
  padding: 20px;
  margin-bottom: 10px;
}
