.app-container {
  background-color: var(--grey-bg);
  padding-bottom: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1750px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
  margin-bottom: 15px;
}

.input-container {
  margin: 0 auto;
  width: 90%;
}

.header span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  width: 170px;
  height: 45px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 25px;
  position: relative;
  width: 87%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dash-container {
  background-image: url(../assets/confetti.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top100;
}
