.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 5px;
  width: 70%;
}

.title {
  color: var(--primary);
  font-size: 48px;
  font-weight: 700;
}

.header span{
  color: var(--primary);
  font-weight: bold;
  font-size: x-large;
}

.section {
  border: 1px #333 solid;
  width: 70%;
  padding: 20px;
  margin-bottom: 10px;
}
