<div class="d-flex gap-2">
  <div
    [ngClass]="{
          bmi: true,
          greenBackground: bmiStatus == 'healthy',
          orangeBackground:
            bmiStatus == 'overweight' ||
            bmiStatus == 'underweight',
          redBackground:
            bmiStatus == 'class 1 obese' ||
            bmiStatus == 'class 2 obese' ||
            bmiStatus == 'class 3 obese' ||
            bmiStatus == 'very underweight',
        }"
  >
    BMI: {{ bmi }}
  </div>
  <div
    style="font-size: 1rem"
    [ngClass]="{
          greenText: bmiStatus == 'healthy',
          orangeText:
            bmiStatus == 'overweight' ||
            bmiStatus == 'underweight',
          redText:
            bmiStatus == 'class 1 obese' ||
            bmiStatus == 'class 2 obese' ||
            bmiStatus == 'class 3 obese' ||
            bmiStatus == 'very underweight',
        }"
  >
    {{ bmiStatus }}
  </div>
</div>
