/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --orange: #ff441f;
  --grey-bg: #ecf3f5;
  --light-grey: #a6a6a6;
  --dark-grey: #6c757d;
  --red: red;
  --green: #198754;
  --blue: #5499c2;
  --orange: #fd7e14;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page-link {
  color: black !important;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Dashboard-item */
.box-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  height: 185px;
  width: 240px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.boxContent span {
  display: flex;
  align-items: center;
  flex: 1;
}

.weight {
  font-size: 1.7rem;
}

.greenText {
  color: var(--green);
}

.orangeText {
  color: var(--orange);
}

.redText {
  color: var(--red);
}
.greenBackground {
  background-color: var(--green);
}

.orangeBackground {
  background-color: var(--orange);
}

.redBackground {
  background-color: var(--red);
}

.date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 60px;
  color: #000;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3;
  font-weight: 700;
  position: absolute;
  top: 13px;
  right: 13px;
  border: 1px solid #cecece;
  border-radius: 3px;
}
.date-box :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  color: #fff;
}

.date-box :nth-child(2) {
  font-size: 1rem;
}

.date-box :nth-child(3) {
  font-size: 0.8rem;
}
