<div class="box-small">
  <div class="boxContent">
    <!-- Title & weight -->
    <span class="title roboto-bold fs-5">{{ title }}</span>
    <div class="p-2">
      <div class="progress">
      <div
        class="progress-bar bg-danger"
        role="progressbar"
        [style.width.%]="progress"
        aria-valuenow="progress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ progress }}%
      </div>
    </div>
    </div>
    <span class="weight roboto-light"> {{ progress }}% </span>
  </div>
</div>
