<div class="box-small">
  <div class="boxContent">
    <span class="roboto-bold fs-5">Start</span>
    <span class="roboto-light">{{ user.start.weight }}kg</span>
    <span class="roboto-bold">
      <div
        [ngClass]="{
          bmi: true,
          greenText: user.start.bmiStatus == 'healthy',
          orangeText:
            user.start.bmiStatus == 'overweight' ||
            user.start.bmiStatus == 'underweight',
          redText:
            user.start.bmiStatus == 'obese' ||
            user.start.bmiStatus == 'very obese' ||
            user.start.bmiStatus == 'very underweight',
        }"
      >
        BMI: {{ user.start.bmi }}
      </div>
      <div class="" style="font-size: 0.9rem">
        {{ user.start.bmiStatus }}
      </div>
    </span>
  </div>
  <calendar></calendar>
</div>
